.DS_Store
*.lock
*.sqlite3
__pycache__
media/images/banner_pictures/*.PNG
media/images/banner_pictures/*.png
media/images/banner_pictures/*.jpg
media/images/banner_pictures/*.JPG
media/images/banner_pictures/*.jpeg
media/images/banner_pictures/*.JPEG
media/images/profile_pictures/*.PNG
media/images/profile_pictures/*.png
media/images/profile_pictures/*.jpg
media/images/profile_pictures/*.JPG
media/images/profile_pictures/*.jpeg
media/images/profile_pictures/*.JPEG
media/images/bit_pictures/*.PNG
media/images/bit_pictures/*.png
media/images/bit_pictures/*.jpg
media/images/bit_pictures/*.JPG
media/images/bit_pictures/*.jpeg
media/images/bit_pictures/*.JPEG
