{% block content %}
 <!DOCTYPE html>
  <html>
   {% include "accounts/includes/header.html" %}
   <body>

    <div class="banner">
     <img class="landingBanner" src="https://blckunicorn.art/assets/libertas/images/banner/kitsune.svg"/>
    </div>

    <div class="loginActionDiv">

     <div class="content">
      <h1>REGISTER</h1>
      <form method="POST" enctype="multipart/form-data">
       {% csrf_token %}
       {{ form.as_p }}
      <button class="action" type="submit">Register</button>
     </form>
    </div>

   </div>

  </body>
 </html>
{% endblock %}
