@font-face {
  font-family: 'PSB';
  src: url('https://blckunicorn.art/assets/libertas/fonts/PSB.ttf');
}
:root {
  --std-font-family: 'PSB';
  --main-color: #FFF;
  --accent-color: #000;
  --tertiary-color: #808080;
}
html,body {
  bottom: 0;
  top: 0;
  left: 0;
  box-sizing:border-box;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  margin-top: 0;
  font-family: var(--std-font-family);
}
div.menuRibbon {
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: var(--main-color);
  position: sticky;
  -webkit-box-shadow:0px 3px 3px var(--tertiary-color);
  -moz-box-shadow:0px 3px 3px var(--tertiary-color);
  box-shadow:0px 3px 3px var(--tertiary-color);
}
div.banner {
  float: left;
  width: 50vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
img.landingBanner {
  height: 100vh;
  width: 50vw;
  object-fit: cover;
}
div.loginActionDiv{
  float: right;
  width: 50vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
div.content {
  padding-top: 30%;
  padding-left: 30%;
  padding-right: 10%;
}
h1 {
  font-size: 30px;
  font-family: var(--std-font-family);
  text-align: left;
}
h1.general {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
}
p {
  font-size: 20px;
  font-family: var(--std-font-family);
  text-align: left;
}
input[type=text] {
  border-bottom: 2px solid var(--accent-color);
  border-top: none;
  font-size: 20px;
  border-left: none;
  border-right: none;
  width: 150px;
  margin-bottom: 10px;
  font-family: var(--std-font-family);
}
input[type=text]:hover {
  outline: none;
}
input[type=password] {
  border-bottom: 2px solid var(--accent-color);
  border-top: none;
  border-left: none;
  border-right: none;
  width: 150px;
  margin-bottom: 10px;
  font-family: var(--std-font-family);
}
input[type=password]:hover {
  outline: none;
}
label {
  margin-right: 5px;
  font-size: 20px;
  font-family: var(--std-font-family);
  text-align: left;
}
button.action {
  margin-top: 20px;
  display: block;
  padding: 15px;
  background-color: var(--accent-color);
  border: none;
  font-size: 20px;
  font-family: var(--std-font-family);
  color: var(--main-color);
  transition-duration: 0.6s;
}
button.actionNew {
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  padding: 15px;
  background-color: var(--accent-color);
  border: none;
  font-size: 20px;
  font-family: var(--std-font-family);
  color: var(--main-color);
  transition-duration: 0.6s;
}
button.action:hover {
  border: 2px solid var(--accent-color);
  background-color: var(--main-color);
  color: var(--accent-color);
}
div.profileBanner {
  width: 100vw;
  height: 20vh;
  background-color: var(--accent-color);
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  right: 0;
}
img.profileBanner {
  height: 20vh;
  width: 100vw;
  object-fit: cover;
}
div.userInfo {
  width: 100vw;
  height: 30vh;
  background-color: var(--accent-color);
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  right: 0;
}
div.accountActions {
  width: 100vw;
  height: 10vh;
  text-align: center;
  overflow-x: scroll;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  right: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid var(--accent-color);
}
img.profilePicture {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 2px solid var(--main-color);
  float: left;
  margin-left: 15px;
  width: 100px;
  margin-top: 15px;
}
p.username {
  display: inline-block;
  font-size: 25px;
  font-family: var(--std-font-family);
  color: var(--main-color);
  text-align: left;
  padding-top: 30px;
  padding-left: 10px;
}
p.bio {
  display: block;
  font-size: 20px;
  font-family: var(--std-font-family);
  color: var(--main-color);
  text-align: left;
  padding-top: 5px;
  padding-left: 20px;
  margin-bottom: 0;
}
p.followInfo {
  display: block;
  padding-top: 0;
  padding-bottom: 10px;
  font-size: 15px;
  font-family: var(--std-font-family);
  color: var(--main-color);
  text-align: left;
  padding-left: 20px;
}
div.bit {
  width: 80%;
  background-color: var(--accent-color);
  -webkit-box-shadow:0px 3px 3px var(--tertiary-color);
  -moz-box-shadow:0px 3px 3px var(--tertiary-color);
  box-shadow:0px 3px 3px var(--tertiary-color);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: none;
  border: none;
}
p.bit {
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: none;
  display: block;
  font-size: 25px;
  color: var(--main-color);
  font-family: var(--std-font-family);
  text-align: left;
}
hr {
  width: 100%;
  background-color: var(--main-color);
  height: 2px;
  margin: 0;
  padding: 0;
  border: none;
}
button.bitAction {
  font-size: 15px;
  display: inline-block;
  border-radius: 15px;
  background-color: var(--main-color);
  color: var(--accent-color);
  font-family: var(--std-font-family);
  border: none;
  transition-duration: 0.6s;
  padding: 10px;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}
button.bitAction:hover {
  background-color: var(--accent-color);
  color: var(--main-color);
  border: 3px solid var(--main-color);
}
p.bitAction {
  display: inline-block;
  color: var(--main-color);
  font-size: 20px;
  font-family: var(--std-font-family);
  text-align: left;
}
img.bitProfilePicture {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 2px solid var(--main-color);
  float: left;
  margin-left: 15px;
  width: 50px;
  margin-top: 15px;
}
button.accountAction {
  font-size: 15px;
  display: inline-block;
  border-radius: 15px;
  background-color: var(--accent-color);
  color: var(--main-color);
  font-family: var(--std-font-family);
  border: none;
  transition-duration: 0.6s;
  padding: 10px;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}
button.accountAction:hover {
  background-color: var(--main-color);
  color: var(--accent-color);
  border: 3px solid var(--accent-color);
}
p.bitUserName {
  display: inline-block;
  font-size: 15px;
  font-family: var(--std-font-family);
  color: var(--main-color);
  text-align: left;
  padding-top: 15px;
  padding-left: 10px;
}
div.newBit {
  width: 80%;
  background-color: var(--accent-color);
  -webkit-box-shadow:0px 3px 3px var(--tertiary-color);
  -moz-box-shadow:0px 3px 3px var(--tertiary-color);
  box-shadow:0px 3px 3px var(--tertiary-color);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: none;
  border: none;
  height: 27vh;
  border-radius: 20px;
}
h1.newBit {
  font-family: 30px;
  font-family: var(--std-font-family);
  color: var(--main-color);
  padding-top: 20px;
  padding-left: 20px;
}
input[type=text].newBit {
  width: 80%;
  font-size: 20px;
  border-radius: 20px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  background-color: var(--accent-color);
  font-family: var(--std-font-family);
  margin-left: 22px;
  margin-bottom: 20px;
  padding: 10px;
}
input[type=text].newBit:focus {
  outline: none;
}
button.newBit {
  font-size: 15px;
  border-radius: 20px;
  display: block;
  background-color: var(--main-color);
  color: var(--accent-color);
  font-family: var(--std-font-family);
  border: none;
  transition-duration: 0.6s;
  padding: 10px;
  margin-left: 22px;
  margin-bottom: 35px;
}
button.newBit:hover {
  background-color: var(--accent-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
