{% block content %}
 <!DOCTYPE html>
  <html>
   {% include "accounts/includes/header.html" %}
   <body>
     <div class="profileBanner">
      <img class="profileBanner" src="{{ banner_pic }}"/>
     </div>

     <div class="userInfo">
      <img class="profilePicture" src="{{ profile_pic }}"/>
      <p class="username">{{ username }}</p>
      <p class="bio">{{ bio }}</p>
      <p class="followInfo">Followers: {{ followerCount }} Following: {{ followingCount }}</p>
     </div>

     <div class="accountActions">
      <button class="accountAction" onclick="window.location.href='{% url 'accounts:dashboard' username=loggedInUserName %}'">Dashboard</button>
      <button class="accountAction" onclick="window.location.href='{% url 'accounts:followUser' username=username %}'">Follow</button>
     </div>

    {% if bits.items %}

     {% for key,value in bits.items %}

      <div class="bit">
       <img class="bitProfilePicture" src="{{ profile_pic }}"/>
       <p class="bitUserName">@{{ value.1 }}</p>
       <p class="bit">{{ key }}</p>
       <hr/>
       <button onclick="window.location.href='{% url 'bits:reBit' bitPk=value.2 %}'" class="bitAction">ReBit</button>
       <button onclick="window.location.href='{% url 'bits:likeBit' bitPk=value.2 %}'" class="bitAction">Like</button>
       <p class="bitAction">{{ value.0 }}</p>
      </div>

     {% endfor %}

    {% else %}

     <div class="bit">
      <img class="bitProfilePicture" src="{{ profile_pic }}"/>
      <p class="bitUserName">@{{ username }}</p>
      <p class="bit"><p>No bits posted by this user yet!</p></p>
      <hr/>
     </div>

    {% endif %}
    
   </body>
  </html>
{% endblock %}
