{% block content %}
 <!DOCTYPE html>
  <html>
   {% include "accounts/includes/header.html" %}
   <body>
     <div class="profileBanner">
      <img class="profileBanner" src="{{ banner_pic }}"/>
     </div>

     <div class="userInfo">
      <img class="profilePicture" src="{{ profile_pic }}"/>
      <p class="username">{{ username }}</p>
      <p class="bio">{{ bio }}</p>
      <p class="followInfo">Followers: {{ followerCount }} Following: {{ followingCount }}</p>
     </div>


    {% if bits.all %}

     {% for item in bits.all %}

      <div class="bit">
       <img class="bitProfilePicture" src="{{ profile_pic }}"/>
       <p class="bitUserName">@{{ item.2 }}</p>
       <p class="bit">{{ item.0 }}</p>
       <hr/>
       <button onclick="window.location.href='{% url 'bits:reBit' bitPk=item.3 %}'" class="bitAction">ReBit</button>
       <button onclick="window.location.href='{% url 'bits:likeBit' bitPk=item.3 %}'" class="bitAction">Like</button>
       <p class="bitAction">{{ item.1 }}</p>
      </div>

     {% endfor %}

    {% else %}

    <div class="bit">
     <img class="bitProfilePicture" src="{{ profile_pic }}"/>
     <p class="bitUserName">@{{ username  }}</p>
     <p class="bit">{{ username }} hasn't posted anything yet.</p>
     <hr/>
    </div>

    {% endif %}

   </body>
  </html>
{% endblock %}
