{% block content %}
 <!DOCTYPE html>
  <html>
   {% include "accounts/includes/header.html" %}
   <body>
     <h1>@{{ username }}</h1>
     <p>Followers: {{ followerCount }}</p>
     <p>Following: {{ followingCount }}</p>
     {% if bits.items %}
     <hr/>
     {% for key,value in bits.items %}
      <p>{{ key }} by {{ value.1 }}
      <p>This bit has been liked {{ value.0 }} times.</p>
     {% endfor %}
     <hr/>
     {% else %}
     <p>No bits posted by this user yet!</p>
     {% endif %}
   </body>
  </html>
{% endblock %}
