{% block content %}
 <!DOCTYPE html>
  <html>
   {% include "accounts/includes/header.html" %}
   <body>
     <h1>@{{ username }}</h1>
     <p>Followers: {{ followerCount }}</p>
     <p>Following: {{ followingCount }}</p>
     <p>Follow <a href="{% url 'accounts:followUser' username=username %}">@{{ username }}</a></p>
     {% if bits.all %}
     {% for bit in bits.all %}
      <p>{{ bit.bitBody }}<a href="{% url 'bits:newBit' username=request.user.username %}">Answer</a></p>
     {% endfor %}
     {% else %}
     <p>No bits posted by this user yet!</p>
     {% endif %}
   </body>
  </html>
{% endblock %}
