{% block content %}
 <!DOCTYPE html>
  <html>

   {% include "accounts/includes/header.html" %}

   <body>

   {% if bits %}

   {% for bit in bits %}

   <div class="bit">
    <img class="bitProfilePicture" src="{{ bit.4 }}"/>
    <p class="bitUserName">{{ bit.1 }}</p>
    <p class="bit">{{ bit.0 }}</p>
    <hr/>
    <button onclick="window.location.href='{% url 'bits:reBit' bitPk=bit.2 %}'" class="bitAction">ReBit</button>
    <button onclick="window.location.href='{% url 'bits:reBit' bitPk=bit.2 %}'" class="bitAction">Like</button>
    <p class="bitAction">{{ bit.3 }}</p>
   </div>

   {% endfor %}

   {% else %}
   <div class="bit">
    <img class="bitProfilePicture" src="{{ request.user.profile_pic.url }}"/>
    <p class="bitUserName">@{{ request.user.username  }}</p>
    <p class="bit">You're not following anyone yet.</p>
    <hr/>
   </div>
   {% endif %}

   </body>
  </html>
{% endblock %}
